<div class="main flex flex-col center">
  <div>Signup</div>
  <div style="margin-top: 10px; background-color: blue" class="flex center card flex-col">
    <input type="text" class="input" placeholder="email" [(ngModel)]="email">
    <input type="text" class="input" placeholder="document number" [(ngModel)]="document_number">
    <input type="text" class="input" placeholder="name" [(ngModel)]="name">
    <input type="text" class="input" placeholder="last name" [(ngModel)]="last_name">
    <input type="text" class="input" placeholder="phone" [(ngModel)]="phone">
    <input type="text" class="input" placeholder="role" [(ngModel)]="role">
    <input type="text" class="input" placeholder="password" [(ngModel)]="password">
    <div class="flex flex-row">
      <div class="btn" style="margin: 16px 4px 4px 16px" (click)="signUp()">sign up</div>
      <div class="btn" style="margin: 16px 4px 4px 16px" (click)="logIn()">log in</div>
    </div>
  </div>
  <div *ngIf="error">{{errorMessage}}</div>
</div>
